* {
    box-sizing: border-box;
}
body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}
header {
    background-color: grey;
    height: 56px;
}
main {
    background-color: aqua;
    flex-grow: 1;
    display: flex;
}
.side-menu {
    background-color: deeppink;
    width: 240px;
    flex-shrink: 0;
    overflow-y: scroll;
}
.main-content {
    background-color: blue;
    flex-grow: 1;
    overflow-y: scroll;
}

